/* Mobile Design */
@media (max-width: 480px) {
    .nav-top {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    #nav-home {
        background-color: #59c977;
    }
      
    .nav-top li {
        display: inline;
        /* float: left; */
        padding: 2.64%;
    }
    
    a {
        text-decoration: none;
        color: black;
    }

    img {
        /* max-width: 80%;
        height: auto; */
        display: block;
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    form {
        text-align: center;
    }
    
    /* tr:nth-child(even) {
        background-color: #dddddd;
    } */

    #bryanBg {
        text-align: center;
        color: white;
        background-color: #aa0000;
        padding-top: 3%;
        padding-bottom: 3%;
        margin: 0;
        /* Rain */
        /* Diagonal Lines--- */
        /* background-color: #b3995d;
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23aa0000' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E"); */

        /* Charlie Brown (Red BG) */
        /* Texture */
        /* Charlie Brown */
    }

    #nav-bryan {
        background-color: #b3995d;
    }

    #davidBg {
        text-align: center;
        color: white;
        background-color: #002244;
        padding-top: 3%;
        padding-bottom: 3%;
        margin: 0;
        /* Texture--- */
        /* background-color: #69be28;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23002145' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E"); */

        /* Diagonal Lines */
        /* Wiggle */
        /* Graph Paper */
    }

    #nav-david {
        background-color: #69be28;
    }

    #gregBg {
        text-align: center;
        color: white;
        background-color: #008e97;
        padding-top: 3%;
        padding-bottom: 3%;
        margin: 0;
        /* Diagonal Lines */
        /* Texture */
        /* Texture (Blue BG) */
        /* Diagonal Lines (Blue BG) */
        /* Charlie Brown (Blue BG) */
        /* Charlie Brown */
        /* Architect (Blue BG) */
        /* Architect (Orange BG)--- */
        /* Lines in Motion */
    }

    #nav-greg {
        background-color: #f26a24;
    }

    #steveBg {
        text-align: center;
        color: white;
        background-color: #203731;
        padding-top: 3%;
        padding-bottom: 3%;
        margin: 0;
        /* Diagonal Lines */
        /* Texture */
        /* Architect--- */
        /* background-color: #ffb612;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23275448' fill-opacity='1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E"); */
    }

    #nav-steve {
        background-color: #ffb612;
    }
}